/* mobile first */
html {
  color: black;
}
nav {
  text-align: center;
  padding-top: 10px;
}
.nav-link {
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 3px;
  margin: 5px;
}
.selected {
  color: #f3adba;
  font-weight: bold;
  border-bottom: 3px solid #f3adba;
}
.footerInfo {
  margin: 0px;
  background-color: #f3adba;
}


/* All Pages Affected */
h1 {
  padding-top: 10px;
  padding-left: 10px;
}




/* tablets+ */
@media screen and (min-width: 768px) {
  /* Add the borders */
  .wrapperForContent {
    margin: 100px 250px 0px 250px;
    border-left: 5px black solid;
    border-right: 5px black solid;
  }
}
