.innerWrapper {
  text-align: center;
  padding: 5px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
li {
  flex-grow: 1;
}
.navButton:hover {
  color: #f3adba;
  font-weight: bold;
  border-bottom: 3px solid #f3adba;
}

.navButton:active {
  color: #f3adba;
  font-weight: bold;
  border-bottom: 3px solid #f3adba;
}

.noShow {
  color: red;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 0px;
}

.LionFiller {
  height: 100px;
  border: #f57 solid 3px;
  border-radius: 60px;
}

@media screen and (min-width: 768px) {
  .imageHolder{
    padding-left: 200px;
    border-left: 5px black solid;
    border-right: 5px black solid;
  }
  .LionFiller {
    height: 200px;
    border: #f57 solid 3px;
    border-radius: 100px;
  }
}
