.innerWrapper {
  text-align: center;
  padding: 5px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
li {
  flex-grow: 1;
}
.navButton:hover {
  color: #f3adba;
  font-weight: bold;
  border-bottom: 3px solid #f3adba;
}

.navButton:active {
  color: #f3adba;
  font-weight: bold;
  border-bottom: 3px solid #f3adba;
}

.noShow {
  color: red;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 0px;
}

.LionFiller {
  height: 100px;
  border: #f57 solid 3px;
  border-radius: 60px;
}
.imageViewStyle {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 6px;
  padding: 7px;
}
.singleImage {
  flex-grow: 1;
  padding-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
}

.secondNavButtons {
  color: #af7983;
}

@media screen and (min-width: 768px) {
  .infoHolder{
    margin-left: 50px;
    margin-right: 50px;
  }
  .imageHolder{
    border-left: 5px black solid;
    border-right: 5px black solid;
    margin-left: 50px;
    margin-right: 50px;
  }
  .imageHolderTwo{
    border-left: 5px black solid;
    border-right: 5px black solid;
    margin-left: 50px;
    margin-right: 50px;
  }
  .LionFiller {
    height: 200px;
    border: #f57 solid 3px;
    border-radius: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .infoHolder{
    margin-left: 100px;
    margin-right: 100px;
  }
  .imageHolder{
    margin-left: 100px;
    margin-right: 100px;
  }
  .imageHolderTwo{
    margin-left: 100px;
    margin-right: 100px;
  }
  .LionFiller {
    height: 220px;
    border: #f57 solid 4px;
    border-radius: 120px;
  }
}
