.innerWrapper {
  text-align: center;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
li {
  flex-grow: 1;
}
li:hover {
  color: #f3adba;
  font-weight: bold;
}
.thisGuy{
  background-color: red;
}
.TradViewer {
}
li:active {
  color: #f3adba;
  font-weight: bold;
}
.separator {
  width: 10px;
  height: 10px;
  color: red;
}

.noShow {
  color: red;
}
